.registration__new__full {
  height: 120vh;
  width: 130vw;
  display: flex;  
  justify-content: space-between;
  position: relative;
}

.video__area {
  position: fixed;
  z-index: -1;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

.video {
  position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 177.77777778vh; 
    height: 56.25vw; 
    min-height: 100%;
    min-width: 100%;
}




.registration__new__left {
 height: 140vh;
 width: 50vw;
 
}

.registration__input__area__inner {
  padding: 0 0 100px 40px;
}

.registration__nickname__area {
  display: flex;
  justify-content: space-between;
}

.registration__input__area {
  width: 40vw;
  height: fit-content;
  margin-bottom: 15px;
  margin: 50px auto;
  border: 1px gray solid;
  border-radius: 5px;
  background:rgba(250, 250, 249, 0.7);
}

.input-default {
  width: 25vw;
  height: 4vh;
}

.email__filed {
  width: 25vw;
  height: 4vh;
}

.registration__password__name {
  display: flex;
}

.password__name {
  width: 12vw;
  height: 4vh;
  margin-right: 15px;
}

.confirmation__name {
  width: 12vw;
  height: 4vh;
}

.profile__input {
  width: 25vw;
  height: 25vh;
}


.new__user__profile {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  object-fit: cover;
  transition-duration: 0.7s;
  margin: 10px 0 0 5px;
}

.new__user__profile:hover {
  border: solid 1px red;
  opacity: 0.8;
  transition-duration: 0.7s;
}

.registration__select {
  display: left;
}

.registration__right {
  text-decoration: none;
  color: black;
}

.google__icon {
  opacity: 0.9;
  transition: 0.5s;
}

.google__icon:hover {
  opacity: 0.5;
  transition: 0.9s;
} 


.registration__new__right {
  width: 50vw;
  height: 110vh;
}

.registration__title__area {
  margin: 400px auto;
  font-size: xx-large;
  font-weight: 900;
}

.registration__title {
  color: white;
}

.signup {
  display: none;
}

.signup__btn {
  height: 30px;
  width: 30px;
  opacity: 0.9;
  transition: 0.5s;
}

.signup__btn:hover {
  opacity: 0.5;
  transition: 0.9s;
}