.user__show__over__all {
  width: 100%;
  height: fit-content;
  background-color: white;
  padding-top: 50px;
}

.user__show__main {
  display: flex;
}

/*left*/

.user__content__left {
  width: 40%;
  height: 80vh;
}

.user__content__left__area {
  width: 30vw;
  margin: 0 auto;
}

.fix {
  position: fixed;
  height: fit-content;
  width: 35vw;
  margin: 5vh auto;
  border: solid 1px black;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.7);
  padding: 10px 10px 40px 10px;
}

.user__content__left__area__inner {
  margin: 0px 10px 70px 10px;
}

.user__show__nickname {
  font-weight: 800;
}

.profile__image {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  object-fit: cover;
  transition-duration: 0.7s;
}

.profile__image:hover {
  border: solid 1px red;
  opacity: 0.8;
  transition-duration: 0.7s;
}

.user__show__nickname {

}

.user__show__profile {

}

.user__show__follow__area {
  display: flex;
  justify-content: space-around;
}


.user__show__follow__area__main{
  
}

.user__show__follow__area {

}

.user__show__follow {

}

.user__show__follower__area {
  
}


.user__show__follower {

}

.item-red-btn {
  text-decoration: none;
  color: black;
}

.item-destroy {
  text-decoration: none;
  color: black;
}


/*right*/

.user__content__right {
  width: 60%;
  height: fit-content;
}

.my__post__area {
  margin: 150px auto;
  height: fit-content;
  width: 36vw;
  
}

.user__show__index {
  padding: 50px auto;
  height: 40vh;
  width: 30vw;
  margin: 70px 0;
  background-color: rgba(211, 211, 211, 0.5);
}


.user__show__post__url {
  padding: 15;
  text-decoration: none;
  color: black;
  transition-duration: 0.7s;
}

.user__show__post__url:hover {
  text-decoration: none;
  opacity: 0.8;
  transition-duration: 0.5s;
}

.hart {
  color: red;
}

.black_hart {
  color: black;
  text-decoration: none;
}

.user__show_image {
  height: 20vh;
  width: 20vw;
  border-radius: 5px;
  transition-duration: 0.5s;
} 

.user__show_image:hover {
  transition-duration: 0.6s;
  opacity: 0.9;
} 
