.header__background {
  height: 90vh;
  width: 100vw;
}

.header__background {
  position: relative;
  height: 100vh;
}

.header__title__main {
  display: flex;
  justify-content: space-around;
}

.header__left {
  font-size: 100px;
  font-weight: 900;
  padding: 225px 0;
  opacity: 0.5;
}

.header__right {
  font-size: x-large;
  font-weight: 600;
  padding: 250px 0;
  opacity: 0.5;
  letter-spacing: 0.1em;
  line-height: 1.3em;
}


.video__area {
  position: fixed;
    z-index: -1;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

.video {
  position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50.77777778vw; 
    height: 56.25vh; 
    min-height: 100%;
    min-width: 100%;
}


.index__slide__show {
  position: relative;
  height: 100vh;
  width: 100vw;
}


.sliders {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider__image {
  width: 100vw;
  height: 100vh;
  transition-duration: 0.7s;
  opacity: 0.8;
}

.slider__image:hover {
  opacity: 0.9;
  transition-duration: 0.7s;
}


.index__contents {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.post__index__url {
  text-decoration: none;
}

.index__under__introduce {
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
  padding: 20px 0;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.post__title {
  text-decoration: none;
  color: black;
}

.name__link {
  text-decoration: none;
}

.image {
  padding: 60px 20px 30px 30px;
}

.item-img {
  width: 33vh;
  height: 33vh;
  border-radius: 10px;
}

.item-img:hover {
  opacity: 0.9;
  transition-duration: 0.2s;
}

.post__time__place {
  display: flex;
  justify-content: space-around;
}

.post__nickname__profile {
  display: flex;
}

.post__button__area {
  width: 100px;
  background: white;
  opacity: 0.9;
  text-align: center;
  border-radius: 50%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  transition-duration: 0.7s;
}

.favorite_btn {
  text-decoration: none;
}

.hart {
  color: red;
}

.black_hart {
  color: black;
  text-decoration: none;
}

.post__button__area:hover {
  opacity: 0.7;
  transition-duration: 0.7s;
}

.post__button__icon {
 width: 50px;
 height: 50px; 
}

.post__button {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.index__under {
  background-color: rgba(350, 350, 350, 0.7);
  height: fit-content;
  width: 100vw;
  padding: 100px 0;
}

.name__link {
  color: black;
  font-weight: 400;
}

.serch__btn {
  padding: 15px 0 0 15px;
}

.index__under__non {
  height: 100vh;
  width: 100%;
  background-color: rgba(350, 350, 350, 0.7);
}

.new__post__coming__soon {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  padding: 300px 0;
  opacity: 0.7;
}

.index__favorites {
  background-color: rgba(200, 350, 350, 0.7);
  height: fit-content;
  width: 100vw;
  padding: 100px 0;
}