.show__main {
  height: fit-content;
  width: 100%;
  margin-top: 50px;
  display: flex;
}

.post__show__left {
  width: 40%;
  height: fit-content;
}

.post__show__left__inner {
  position: fixed;
  margin: 80px;
  width: 30vw;
  height: 50vh;
  background-color: antiquewhite;
}



.post__show__right {
width: 60%;
height: fit-content;
}

.show__contents__area {
  height: fit-content;
  width: fit-content;
  border: 1px solid black;
  border-radius: 10px;
  margin: 50px auto;
}

.show__item-img {
  border-radius: 3px;
  padding: 50px auto;
  height: 40vh;
  width: 40vw;
}

.map__area {
  height: 40vh;
  width: 40vw;
  margin: 50px auto;
} 

#map {
  height: 40vh;
  width: 40vw;
  border-radius: 5px;
}

.post__comments {
  height: fit-content;
  width: 100%;
}

.post__comments {
  padding-bottom: 10px;
}

.comment__user__name {
  font-weight: 600;
  padding-bottom: 10px;
}

.comment-text {
  width: 25vw;
  height: 3.3vh;
}



.show__comment {
  display: flex;
  justify-content: space-around;
}